*{
    text-align: center;
    font-family: 'Noto Sans Arabic', montserrat;
}

h1{
    font-size: 5em;
    margin-bottom: 10px;
}

span{
    font-weight: 800;
}

a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 4px;
    transition: 0.6s ease;
}

p{
    margin-bottom: 22px;
}

a:hover{
  font-size: 2em;
}